@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Book Library</h1>
    <p>Yksinkertainen SPA kirjasto.</p>
    <p>Hallitse kirjastoa klikkaamalla "Books"</p>
</div>
